<!DOCTYPE html>
html(lang="en")
    head
     meta(charset="UTF-8")
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     title Natours | #{tour}
     link(rel='stylesheet' href='css/style.css')
     link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    body
     h1(style='color:blue')=tour
     h1 Hello #{user.toUpperCase()}
     // h1(style='color:red') The Park Comprer

     //- js Code u must use - to write js code
     - const x = 10
     - const arr = ['mina', 'samy', 'sherif']
     - for(var i=0; i<arr.length;i++){
     h2 Hello #{arr[i]}
     - }
     h2= x * 6
     p this is just some text



    